.input {
    border: none;
    color: #d3d7cf;
    border-bottom: 1px solid #d3d7cf;
    background-color: #000;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    width: 300px;
    @media (max-width: 400px) {
        width: 250px;
    }
    &::placeholder {
        text-align: center;
        color: #d3d7cf;
    }
}

.error {
    color: #cc0000;
}
