@media(max-width: $desktop-small) {

	.contacts {

		&__wrapper {

			padding-bottom: 70px;

		}

		&__offer {
			width: 40%;
			padding-top: 70px;
		}


		&__info {
			margin-top: 70px;
		}
	}

}

@media(max-width: $tablet) {

	.contacts {

		margin-top: 100px;

		&__wrapper {
			flex-direction: column;
			padding-bottom: 105px;
		}

		&__offer {
			margin-left: 60px;
			margin-top: 30px;
			width: 80%;

		}

		&__subtitle {
			margin-left: 60px;
		}

		&__info {
			width: 100%;
		}

		&-navigate {
			&__list {
				margin-left: 60px;
			}
		}

		.social-navigate {
			&__item {
				&:nth-child(1){
					margin-left: -1px;
				}
			}
		}

	}

}

@media(max-width: $tablet-small) {

	.contacts {

		&__wrapper {
			padding: 60px 0px 105px 0px;
		}

		&__offer {
			margin-top: 40px;
			padding: 0px;
		}

	}

}

@media(max-width: $mobile) {

	.contacts {

		&__wrapper {
			padding: 60px 0px 65px 0px;
		}

		&__offer {
			width: 100%;
			margin: 0;
		}

		&__title {
			font-size: 3.2rem;
			line-height: 125%;
			padding: 0px 16px 0px 16px;
		}

		&__info {
			margin-top: 40px;
			margin-bottom: 5px;
			margin: 0;
		}

		.social-navigate {
			margin-left: 16px;
		}

		&__subtitle {
			margin-top: 40px;
			margin-left: 16px;
		}
		
		&-navigate {
			&__list {
				margin-left: 16px;
			}
		}

	}

}