@import 'utils/normalize';
@import 'fonts';
@import 'abstract/constants';

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', Verdana, sans-serif;
	background-color: $bg;
}

@import 'layout/container';
@import 'components/header';
@import 'components/enjoy';