@import 'utils/normalize';
@import 'fonts';
@import 'variables/main-bg';

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', Verdana, sans-serif;
	background-color: $bg;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	background-color: $main;
}