@import 'utils/normalize';
@import 'fonts';
@import 'variables/main-bg';

body {
	font-family: 'Inter';
	background-color: $bg;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	background-color: $main;
}