
@media(max-width: $tablet) {
	.slides {

		&__prev {
			left: 1px;
		}
	
		&__next {
			right: 1px;
			}
		}
}

@media(max-width: $tablet-small) {
	.slides {

		&__prev {
			display: none;
		}
	
		&__next {
			display: none;
			}
		}
}
