.li__img-category{width:35rem;height:25rem;border-radius:1rem}.category__nav-list_item{color:#d1ded1;text-align:center;display:flex;flex-direction:column;gap:5px}
.category__nav-list{display:flex;flex-direction:row;align-items:center;list-style:none;padding-left:0;gap:35px}
.category{display:flex;justify-content:center}
