.container {
	max-width: $container-width;
	margin: 0 auto;
}

.wrapper {
	max-width: $wrapper-width;
	margin: 0 auto;
}


@media(max-width: $desktop) {

	.container {
		max-width: 1140px;
	}

}

@media(max-width: $desktop-small) {
	
	.container {
		max-width: 960px;
	}

}

@media(max-width: $tablet) {
	.container {
		max-width: 688px;
	}
}

@media(max-width: $tablet-small) {
	.container {
		max-width: 550px;
	}
}

@media(max-width: $mobile) {
	.container {
		max-width: 348px;
	}
}
@media(max-width: $mobile-small) {

	.container {
		max-width: 310px;
	}

}
