.enjoy {

	&__content {
		max-width: 1360px;
		max-height: 644px;
		margin: 0 auto;
		position: relative;
		border-radius: 40px;
		overflow: hidden;
	}

	&__movie {
		width: 100%;
		border-radius: 40px;
	}

	&__offer {
		position: absolute;
		top: 100px;
		left: 100px;
		max-width: 530px;
	}

	&__title {
		font-size: 7.2rem;
		font-weight: 600;
		line-height: 105%;
		color: $text-light;

		span {
			font-style: italic;
			color: $text-accent;
		}
	}

	&__descr {
		margin-top: 40px;
		font-weight: 400;
		color: $text-light;
		line-height: 24px
	}

	&__link {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		width: 200px;
		height: 64px;
		color: $text-dark;
		text-decoration: none;
		font-weight: 600;
		background: $button-light;
		border-radius: 100px;

		@media(hover: hover) {

			&:hover {
				.enjoy__svg {
					z-index: 1;
					opacity: 1;
				}
	
				.enjoy__menu {
					margin-right: 27px;
				}
			}

		}
		
	}

	&__menu {
		@extend %transition;
	}

	&__svg {
		width: 20px;
		height: 20px;
		background-image: url('img/icons/coffee-cup.svg');
		position: absolute;
		z-index: -1;
		top: 20px;
		right: 65px;
		opacity: 0;
		@extend %transition;
	}

}