@media(max-width: $tablet) {
	.enjoy {

		&__offer {
			max-width: 100%;
			left: 60px;
		}

		&__descr {
			padding-right: 60px;
		}


		&__link {
			.enjoy__menu {
				margin-right: 27px;
			}
		}

		&__svg {
			z-index: 1;
			opacity: 1;
			top: 21px;
		}

	}
}

@media(max-width: $tablet-small-2) {
	.enjoy {

		&__title {
			font-size: 5.7rem;
		}

	}
}


@media(max-width: $mobile) {

	.enjoy {

		&__content {
			
			height: 552px;
			
		}

		&__offer {
			top: 60px;
			left: 16px;
		}

		&__descr {
			padding-right: 16px;
		}

		&__title {
			font-size: 4.7rem;
		}
	}


}


@media(max-width: $mobile-small) {

	.enjoy {

		&__title {
			font-size: 4.2rem;
			line-height: 115%;
		}

	}

}