@media(max-width: $tablet) {
	.enjoy {
		
		&__offer {
			max-width: 100%;
			padding: 100px 60px 100px 60px;
		}


			&__link {
	
	
				.enjoy__menu {
					margin-right: 27px;
				}
	
			}
	
			&__svg {
				z-index: 1;
				opacity: 1;
				top: 21px;
			}

	}
}