.divider {
    position: relative;
    color: #d3d7cf;
    font-size: 1.6rem;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #d3d7cf;
    }
}
