.divider {
    position: relative;
    color: #d3d7cf;
    font-size: 1.4rem;
    text-align: center;
    max-width: 100%;
    padding: 3px;
    border-bottom: 1px dashed #d3d7cf;
    margin: 25px 10px;
}
