.enjoy {

	&__content {
		max-width: 1360px;
		margin: 0 auto;
		background-image: url('img/img-hero.jpg');
		background-size: cover;
		border-radius: 40px;
	}

	&__offer {
		max-width: 530px;
		padding-left: 100px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__title {
		font-size: 7.2rem;
		font-weight: 600;
		line-height: 105%;
		color: $text-light;

		span {
			font-style: italic;
			color: $text-accent;
		}
	}

	&__descr {
		margin-top: 40px;
		font-weight: 400;
		color: $text-light;
		line-height: 24px
	}

	&__link {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
		width: 200px;
		height: 64px;
		color: $text-dark;
		text-decoration: none;
		font-weight: 600;
		background: $button-light;
		border-radius: 100px;

		&:hover {
			.enjoy__svg {
				z-index: 1;
			}

			.enjoy__menu {
				margin-right: 27px;
			}
		}
	}

	&__menu {
		@extend %transition;
	}

	&__svg {
		position: absolute;
		z-index: -1;
		top: 20px;
		right: 65px;
		@extend %transition;
	}

}