.header {

	&__menu {

		padding: 17px 20px 18px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		font-weight: 600;
		margin-right: 28px;

		a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			color: $text-dark;

			span {
				padding-right: 8px;
				padding-bottom: 2px;
			}

			.header__svg {
				margin-right: -8px;
				padding-bottom: 6px;
			}
		}

	}

}

.logo {
	position: relative;
	padding-top: 3px;
	padding-left: 20px;
	cursor: pointer;

	&__resource {
		position: relative;
		z-index: 10;
	}

	&__text {
		margin-top: 2px;
		margin-left: 13px;
	}
}

.navigate {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item {
		list-style-type: none;
		font-weight: 600;
		padding-right: 41px;
		padding-bottom: 3px;
		cursor: pointer;

		a {
			color: $text-dark;
			text-decoration: none;
		}

		&:nth-child(1) {
			padding-right: 41px;
		}

		&:nth-child(4) {
			margin-right: -2px;
		}
	}

}