.mobile-app {

	&__wrapper {
		margin: 0 auto;
		max-width: $wrapper-width;
		display: flex;
		justify-content: space-between;
	}

	&__offer {
		width: 45%;
	}

	&__title {
		margin-top: 82px;
		font-size: 6rem;
		font-weight: 600;
		line-height: 125%;
		color: $text-dark;

		span {
			font-style: italic;
			color: $text-accent;
		}
	}

	&__descr {
		margin-top: 40px;
		font-weight: 400;
		line-height: 150%;
		color: $text-dark;
	}

	&__button {
		display: flex;
		margin-top: 40px;
	}

	&__store {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 12px 20px 12px 20px;
		width: 200px;
		border-radius: 100px;
		border: 1px solid $border-dark;
		background-color: $main;
		color: $text-dark;
		cursor: pointer;
		@extend %transition;

		&:nth-child(2) {
			margin-left: 20px;
		}

		&:hover {
			background-color: $bg-dark;
			color: $text-light;

			.mobile-app__google {
				background-image: url('img/icons/google-play-hover.svg');

			}

			.mobile-app__apple {
				background-image: url('img/icons/app-store-hover.svg');
			}
		}
	}

	&__apple {
		width: 36px;
		height: 36px;
		background-image: url('img/icons/app-store.svg');
		@extend %transition;
	}

	&__google {
		width: 36px;
		height: 36px;
		background-image: url('img/icons/google-play.svg');
		@extend %transition;
	}

	&__text {
		display: flex;
		flex-direction: column;
		font-weight: 600;
		text-align: start;
		padding-left: 7px;

		span {
			&:nth-child(1) {
				font-size: 1rem;
			}

			&:nth-child(2) {
				font-weight: 600;
				line-height: 29px;
			}
		}
	}

	&__screens {
		position: relative;
		width: 45%;
		top: -60px;
		right: 18px;
	}

}