.hangman {
  min-width: 600px;
  position: relative;
  display: flex;
  align-self: flex-start;

  @media(max-width: $desktop) {
    min-width: 400px;
  }

  @media(max-width: $tablet) {
    align-self: center;
  }

  @media(max-width: $mobile) {
    align-items: center;
    min-width: 320px;
  }

  &__crossbar {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      object-fit: contain;
      transition: all .5s ease-out;

      @media(max-width: $mobile) {
        width: 300px;
        height: 450px;
      }
    }

  }

  &__wrapper {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 149px;
    right: 197px;

    @media(max-width: $desktop) {
      top: 149px;
      right: -2px;
    }

    @media(max-width: $mobile) {
      top: 115px;
      right: 25px;
      width: 100px;
    }

  }

  &__head {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      object-fit: contain;

      @media(max-width: $mobile) {
        width: 70%;
      }

    }

  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: contain;

      @media(max-width: $mobile) {
        width: 50%;

        &:nth-child(2) {
          height: 100px;
          width: 5px;
        }
      }
    }
  }

  &__leg {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      object-fit: contain;


      @media(max-width: $mobile) {
        width: 50%;
      }
    }
  }

}