.message__container {
    display: flex;
    margin: 10px 0px;
    &.left {
        justify-content: flex-start;
    }

    &.right {
        justify-content: flex-end;
        cursor: pointer;
        &:hover .message__item.right span {
            left: -30px;
        }
    }
}
