.game {

	&__wrapper_15x15 {
		display: grid;
		justify-content: center;
		grid-template-areas:
			". top"
			"left game"
		;
	}


	&__grid_15x15 {
		grid-area: game;
		display: grid;
		grid-template-columns: repeat(15, 35px);
		grid-template-rows: repeat(15, 35px);

		@media(max-width: 770px) {
			grid-template-columns: repeat(15, 21px);
			grid-template-rows: repeat(15, 21px);
		}

		@media(max-width: 450px) {
			grid-template-columns: repeat(15, 15px);
			grid-template-rows: repeat(15, 15px);
		}
	}

	&__cell_15x15 {
		cursor: pointer;

		&:nth-child(5n) {
			border-right-width: 3px
		}

		&:nth-child(n+61):nth-child(-n+75) {
			border-bottom-width: 3px
		}

		&:nth-child(n+136):nth-child(-n+150) {
			border-bottom-width: 3px
		}

		&:nth-child(n+211) {
			border-bottom-width: 3px
		}
	}

}

.hints {

	&__top_15x15 {
		grid-area: top;
		display: grid;
		grid-template-columns: repeat(15, 35px);

		@media(max-width: 770px) {
			grid-template-columns: repeat(15, 21px);
		}

		@media(max-width: 450px) {
			grid-template-columns: repeat(15, 15px);
		}

		.hints__cell_15x15 {
			flex-direction: column;
			align-items: center;
			justify-content: end;
		}
	}

	&__left_15x15 {
		grid-area: left;
		display: grid;
		grid-template-rows: repeat(15, 35px);

		@media(max-width: 770px) {
			grid-template-rows: repeat(15, 21px);
		}

		@media(max-width: 450px) {
			grid-template-rows: repeat(15, 15px);
		}

		.hints__cell_15x15 {
			flex-direction: row;
			align-items: center;
			justify-content: end;
		}
	}

	&__cell_15x15 {
		display: flex;
	}

	&__num_15x15 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;

		@media(max-width: 770px) {
			width: 21px;
			height: 21px;
		}

		@media(max-width: 450px) {
			width: 15px;
			height: 15px;
			font-size: 1.2rem;
		}
	}

}