.template {

	margin-top: 50px;

	&__wrapper {
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}

	&__item_5x5 {
		display: flex;
		width: 115px;
		flex-wrap: wrap;
		cursor: pointer;
		gap: 1px;
	}

	&__cell_5x5 {
		width: 20px;
		height: 20px;
	}
}