.about {

	&__title {
		margin-top: 40px;
		padding: 0px 40px 0px 40px;
		text-align: start;
		font-size: 6rem;
		font-weight: 600;
		line-height: 125%;
		color: $text-dark;


		span {
			color: $text-accent;
			font-style: italic;
		}
	}

	&__wrapper {
		max-width: $wrapper-width;
		margin: 0 auto;
		margin-top: 41px;
		display: flex;
		gap: 40px;
	}

	&__row{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__col {
		overflow: hidden;
		border-radius: 20px;
		display: flex;
		max-height: 590px;
		
		&_1 {
			
		}
		&_2{
			max-height: 430px;
		}
		&_3{
			max-height: 430px;
		}
		&_4 {
			
		}

		img {
			width: 100%;
			object-fit: cover;
			transform: scale(1.1);
			@extend %transition;

			@media(hover: hover){
				&:hover {
					transform: scale(1.0);
				}
			}
			
		}

	}

}