@media(max-width: $desktop) {

	.about {

		&__title {
			padding: 42px 0px 0px 0px;
		}

		&__layout {
			grid-template-rows: repeat(2, minmax(400px, 500px));
			gap: 30px;
		}

		&__photo {

			max-height: 500px;

			&:nth-child(4) {
				top: -73px;
			}
		}
	}

}

@media(max-width: $desktop-small) {
	
	.about {

		&__title {
			font-size: 5rem;
		}

		&__layout {
			grid-template-rows: repeat(2, minmax(310px, 430px));
			gap: 16px;
		}

		&__photo {

			max-height: 100%;

			img {}

			&:nth-child(2) {
				max-height: 350px;
			}

			&:nth-child(3) {
				max-height: 350px;
			}

			&:nth-child(4) {
				top: -85px;
			}
		}
	}

}

@media(max-width: $tablet) {}
@media(max-width: $tablet) {}
@media(max-width: $tablet-small) {}
@media(max-width: $mobile) {}
@media(max-width: $mobile-small) {}
