.error__text{color:#d3d7cf;font-size:2rem;text-align:center}
.modal{padding:20px;margin:10px;border-radius:5px;max-width:500px;box-shadow:0px 0px 82px -40px rgba(211,215,207,.91) inset;display:flex;flex-direction:column;gap:20px}
.not-found{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;display:flex;justify-content:center;align-items:center}
