.message__placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: #8ae234;
    font-size: 2rem;

    &.hidden {
        display: none;
    }
}
