.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;

  @media(max-width: $desktop) {
    gap: 25px;
  }

  @media(max-width: $tablet) {
    font-size: 2rem;
    gap: 25px;
  }

  @media(max-width: $mobile) {
    font-size: 1.8rem;
  }

  &__word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $key-bg-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__letter {
    margin: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_hidden {
      visibility: hidden;
    }
  }

  &__line {
    height: 3px;
    width: 80%;
    background: $key-bg-color;
    opacity: 1;

    &_delete {
      opacity: 0;
    }
  }

  &__text {
    margin-top: 35px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;

    @media(max-width: $desktop) {
      margin-top: 0px;
    }

    @media(max-width: $mobile) {
      line-height: 40px;
    }

  }

  &__mistake {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__counter {
    color: $counter-color;
    margin-left: 15px;
  }

  &__key {
    margin-top: 30px;

    @media(max-width: $desktop) {
      margin-top: 20px;
    }
  }

}

.key {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background: $key-bg-color;
    color: $key-color;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media(hover: hover) {
      &:hover {
        background: $key-bg-hover;
      }
    }

    @media(max-width: $mobile) {
      width: 50px;
      height: 50px;
      margin: 3px;
    }

    &_disabled {
      background: $key-bg-hover;
      cursor: default;
    }

  }

  &__letter {}
}