.dark-theme {
	background: $color-theme-dark;
	color: $color-text-dark;
}

.dark__checked {
	background: $color-text-dark;
}

.dark__cell {
	border: 1px solid #fff;
}

.dark__cross {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70%;
		height: 2px;
		background-color: $color-text-dark;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.dark__button {
	background: $color-text-dark;
	color: $color-theme-dark;

	&:hover {
		background: rgba($color: $color-text-dark, $alpha: .8);
	}

	&_active {
		background: rgba($color: $color-text-dark, $alpha: .8);
	}

}

.dark__button[disabled] {
	background: rgba($color: $color-text-dark, $alpha: .8);
}

.dark__hints {
	border: 1px solid #fff;
}

.dark__grid {
	border: 1px solid #fff;
}

.dark__left {
	border: 1px solid #fff;
}

.dark__top {
	border: 1px solid #fff;
}