.light-theme {
	background: $color-theme-light;
	color: $color-text-light;
}

.light__checked {
	background: $color-text-light;
}

.light__cell {
	border: 1px solid $color-text-light;
}

.light__cross {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70%;
		height: 2px;
		background-color: $color-text-light;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.light__button {
	background: $color-text-light;
	color: $color-theme-light;

	&:hover {
		background: rgba($color: $color-text-light, $alpha: .8);
	}

	&_active {
		background: rgba($color: $color-text-light, $alpha: .8);
	}
}

.light__button[disabled] {
	background: rgba($color: $color-text-light, $alpha: .8);
}

.hints__top {
	.light__hints {
		border: 1px solid $color-text-light;
		border-top: none;
	}
}

.hints__left {
	.light__hints {
		border: 1px solid $color-text-light;
		border-left: none;
	}
}

.light__grid {
	border: 3px solid $color-text-light;
}

.light__left {
	border: 3px solid $color-text-light;
}

.light__top {
	border: 3px solid $color-text-light;
}