//background
$bg: #B6AEA7;
$main: #E1D4C9;
$bg-dark: #665F55;
$bg-drop: rgba(64, 63, 61, 0.80);

//buttons
$button-light: #E1D4C9;
$button-dark: #665F55;

//text
$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;

//border
$border-light: #C1B6AD;
$border-dark: #665F55;

//size
$container-width: 1440px;
$wrapper-width: 1360px;
$tablet-width: 768px;
$mobile-width: 380px;

//breakpoints
$desktop: 1439px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 767px;
$mobile: 576px;
$mobile-small: 380px;