.user__item {
    position: relative;
    color: #d3d7cf;
    padding: 7px;
    padding-left: 30px;
    cursor: pointer;

    @media (max-width: 480px) {
        font-size: 1.2rem;
    }

    &:hover {
        color: #97e1f1;
        transform: translateY(-2px);
        box-shadow: 0px 0px 52px 0px rgba(242, 122, 160, 0.65);
    }

    &:hover.active {
        color: #97e1f1;
        transform: translateY(-2px);
        box-shadow: 0px 0px 52px 0px rgba(151, 255, 241, 0.65);
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #f27aa0;
        margin-right: 10px;
    }

    &.active::before {
        background-color: #97e1f1;
    }

    .counter {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #f27aa0;
        margin-right: 10px;
        &.active {
            border: 1px solid #97e1f1;
        }

        &.hidden {
            opacity: 0;
        }

        &.show {
            opacity: 1;
        }
    }
}
