.message__item {
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 82px -40px rgba(211, 215, 207, 0.91) inset;
    &.right {
        position: relative;
        span {
            position: absolute;
            left: -100%;
            width: 24px;
            height: 24px;
            cursor: pointer;
            &.delete {
                top: 20px;
                background-image: url(../../../../../../assets/image/delete.svg);
                transition: all 0.7s ease-out;
            }
            &.edit {
                bottom: 20px;
                background-image: url(../../../../../../assets/image/edit.svg);
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
