.chat__right-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    border: 1px solid #d3d7cf;
    border-radius: 5px;
    @media (max-width: 480px) {
        width: 60%;
    }
}
