@import './base/normalize';
@import './base/fonts';
@import './abstracts/variables';
@import './themes/dark';
@import './themes/light';

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
}

.body__hidden {
	overflow: hidden;
}

.title {
	text-align: center;
	margin-top: 25px;
}

#toggle-theme {
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.main {}

.container {
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}

.select {
	margin-top: 25px;
}

.nonograms {
	margin-top: 25px;
}

@import './components/timer';
@import './components/level';
@import './components/game';
@import './components/reset';
@import './layout/grid-5x5';
@import './layout/grid-10x10';
@import './layout/grid-15x15';
@import './layout/template-5x5';
@import './layout/template-10x10';
@import './layout/template-15x15';
@import './themes/modals-light';
@import './themes/modals-dark';