@import './vendors/normalize';
@import './base/fonts';
@import './abstracts/variables';

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', Verdana, sans-serif;
}

@import './components/app/app';
@import './components/hangman/hangman';
@import './components/question/question';
@import './components/footer/footer';