.template {

	margin-top: 100px;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}

	&__item_15x15 {
		display: flex;
		width: 255px;
		height: 255px;
		flex-wrap: wrap;
	}

	&__cell_15x15 {
		width: 15px;
		height: 15px;
	}
}