$key-bg-color: #5455ac;
$key-bg-hover: #9899cd;
$key-color: #fff;
$counter-color: #eb4c42;

//breakpoints
$desktop: 1439px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 390px;