$key-bg-color: #006262;
$key-bg-hover: rgba(0, 98, 98, .5);
$key-color: #fff;
$counter-color: #eb4c42;

//breakpoints
$desktop: 1439px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 390px;