.loader__spinner {
    border-left: 2px solid #d3d7cf;
    border-right: 2px solid #d3d7cf;
    border-bottom: 2px solid #d3d7cf;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
