.light-theme {
	background: $color-theme-light;
	color: $color-text-light;
}

.light__cell {
	border: 1px solid $color-text-light;
}

.light__button {
	background: $color-text-light;
	color: $color-theme-light;

	&:hover {
		background: rgba($color: $color-text-light, $alpha: .8);
	}
}

.light__hints {
	border: 1px solid $color-text-light;
}