.table {

	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 20px auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;

	&__row {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		border-bottom: 1px solid #ddd;
		font-weight: bold;
		text-transform: uppercase;

		&_result {
			text-transform: lowercase;
			display: flex;
			justify-content: space-between;
			padding: 10px;
		}
	}

	&__cell {
		flex: 1;
		text-align: center;
	}
}