.chat__left-panel {
    width: 30%;
    // border: 1px solid #d3d7cf;
    box-shadow: 0px 0px 82px -40px rgba(211, 215, 207, 0.91) inset;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 480px) {
        width: 40%;
    }
}
