@import './assets/styles/base/normalize';

:root {
    --game-row-size: 40px;
    --game-puzzle-size: 400px;
    --game-wrapper-size: 700px;
}

html {
    font-size: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}
